<%- include('header') %>
<div class="result">
    <% if(error){ %>
       <p><%= error %></p>
    <% } else{ %>
        <p><%= quantidade %> 
        dolares na cotacão: 
        <%= cotacao %> é igual a: <%= conversao %> reais 
    <% } %></p>
    </div>

<%- include('footer') %>