<%- include('header') %>
<div class="result">
    <% if(error){ %>
       <p><%= error %></p>
    <% } else{ %>
        <p>$<%= quantidade %> 
        in the quotation: 
        <%= cotacao %> is equal to: R$<%= conversao %> 
    <% } %></p>
    </div>

<%- include('footer') %>